.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.mrb0 {
  margin-bottom: 0px !important;
}
.mrb10 {
  margin-bottom: 10px !important;
}
.mrb15 {
  margin-bottom: 15px !important;
}
.mrb20 {
  margin-bottom: 20px !important;
}
.mrb30 {
  margin-bottom: 30px !important;
}
.mrb35 {
  margin-bottom: 35px !important;
}
.mrb50 {
  margin-bottom: 50px !important;
}
.mrb40 {
  margin-bottom: 40px !important;
}
.mrb60 {
  margin-bottom: 50px !important;
}
.pdt0 {
  padding-top: 0 !important;
}
.pdb0 {
  padding-bottom: 0 !important;
}
.page-header {
  margin-bottom: 0;
}
.hero {
  background-color: #152836;
  color: #EEE;
  min-height: 540px;
}
.hero .btn-primary {
  color: #EEE;
  border-color: #EEE;
  transition: color 0.10s ease 0s, background-color 0.15s ease 0s;
}
.hero .btn-primary:hover {
  background-color: #fff;
  color: #152836;
}
.hero .lg-ad {
  background-color: rgba(0, 0, 0, 0.45);
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 10px 0 6px;
  margin-top: 10px;
  text-align: center;
}
.section {
  padding: 42px 21px;
  border-bottom: 1px solid #f1f1f1;
}
.section.highlight {
  background-color: #FAFAFA;
}
.section .section-header h1,
.section .section-header h2 {
  text-align: left;
}
.section .section-header .section-title {
  text-align: left;
}
.section .section-header.has-desc p {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}
.section .border {
  background-color: #152836;
  display: block;
  height: 3px;
  margin: 5px 0 0;
  width: 80px;
}
.demo-links .btn {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  border-width: 2px;
  color: #152836;
  border-color: #152836;
  transition: color 0.10s ease 0s, background-color 0.15s ease 0s;
}
.demo-links .btn:hover {
  background-color: #152836;
  color: white;
}
.other-projects .btn {
  width: 100%;
  margin-bottom: 20px;
  transition: color 0.10s ease 0s, background-color 0.15s ease 0s;
}
.features .icon {
  background-color: #152836;
  border-radius: 60%;
  padding: 10px;
  text-align: center;
  width: 80px;
  height: 80px;
  float: left;
}
.features .icon img {
  width: 60px;
}
.features .media {
  margin-bottom: 60px;
}
.features .desc {
  margin-left: 100px;
  text-align: left;
}
.features .section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .lead {
    font-size: 16px;
  }
}
.page-head {
  padding: 100px 0;
  text-align: center;
}
.page-head .lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .page-head .lead {
    font-size: 18px;
  }
}
.page-head h1 {
  font-size: 42px;
  margin: 0 0 25px;
  color: #fff;
  position: relative;
  display: inline-block;
}
.page-head h1 .version {
  border-radius: 2px;
  bottom: 6px;
  overflow: hidden;
  position: absolute;
  right: -86px;
}
@media (max-width: 480px) {
  .page-head h1 .version {
    right: 0;
  }
}
.page-head h1 .version img {
  left: -36px;
  max-width: 85%;
  position: relative;
}
.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
  margin-bottom: 15px;
}
.demo-gallery > ul > li a {
  border: 3px solid #fff;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.demo-gallery > ul > li a > img {
  transition: transform 0.15s ease 0s;
  transform: scale3d(1, 1, 1);
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  transition: transform 0.15s ease 0s;
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}
#aniimated-thumbnials .demo-gallery a {
  width: 190px;
  height: 132px;
}
.sample-code {
  text-align: left;
}
.bs-callout {
  padding: 20px;
  margin: 0px;
  border: 1px solid #f1f1f1;
  background-color: #FAFAFA;
  border-left-width: 5px;
  border-radius: 3px;
  text-align: left;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}
.docs .section {
  text-align: left;
  border-bottom: none;
}
.docs .doc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: #555;
}
.docs .demo-container {
  padding-top: 50px;
}
.docs .affix {
  top: 20px;
}
@media (max-width: 991px) {
  .docs .affix {
    position: relative;
    top: 0;
  }
}
.anchor-title {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.anchor-title a {
  color: #444;
  position: relative;
  text-decoration: none;
}
.anchor-title a.no-content:before {
  content: "";
}
.anchor-title a:before {
  color: #ddd;
  content: "#";
  display: block;
  font-size: 22px;
  left: -20px;
  padding-right: 5px;
  position: absolute;
  top: 4px;
  opacity: 0;
}
.anchor-title a:hover:before {
  opacity: 1;
}
.anchor-title span {
  color: rgba(34, 34, 34, 0.2);
  font-size: 0.75em;
}
h3.anchor-title {
  font-size: 18px;
}
h3.anchor-title a:before {
  font-size: 18px;
  left: -16px;
  top: 4px;
}
.fixed-size.lg-outer .lg-inner {
  background-color: #fff;
}
.fixed-size.lg-outer .lg-sub-html {
  position: absolute;
  text-align: left;
}
.fixed-size.lg-outer .lg-toolbar {
  background-color: transparent;
  height: 0;
}
.fixed-size.lg-outer .lg-toolbar .lg-icon {
  color: #fff;
}
.fixed-size.lg-outer .lg-img-wrap {
  padding: 12px;
}
.share {
  background-color: #152836;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}
.share > h3 {
  margin: 0 0 50px;
}
.sharrre .box {
  height: 40px;
  width: 40px;
}
#twitter .box {
  background-image: url("../img/social/twitter-icon.svg");
  background-size: contain;
}
#facebook .box {
  background-image: url("../img/social/facebook-icon.svg");
  background-size: contain;
}
.sharrre {
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  transition: transform 0.2s ease 0s;
  transform: scale(1);
}
.sharrre:hover {
  transform: scale(1.2);
}
.sharrre .count {
  display: none;
}
.sharrre#twitter {
  background-color: #00acee;
}
.sharrre#facebook {
  background-color: #3b5998;
}
.sharrre#googleplus {
  background-color: #dd4b39;
}
#googleplus.sharrre::after,
#twitter.sharrre::after {
  background-size: contain;
  content: "";
  display: block;
  height: 40px;
  width: 40px;
}
#googleplus.sharrre::after {
  background-image: url("../img/social/googleplus-icon.svg");
}
#twitter.sharrre::after {
  background-image: url("../img/social/twitter-icon.svg");
}
@media only screen and (min-width: 320px) and (max-width: 759px) {
  .carbon-text:after {
    display: none;
  }
}